.is-primary {
    margin-bottom: 2px;
}

h2 {
    margin-bottom: 8px;
}

.panel {
    border-style: solid;
    border-color: black;
    margin-left: 5px;
}

#buttons {
    border-style: solid;
    border-color: black;
    font-size: large;
    margin-left: 5px;
}

.block {
    margin-top: 12px;
    font-size: large;
    font-weight: bold;
}
